---

---

<article>
    <div class="hero min-h-screen max-w-full py-10">
        <div class="hero-content flex-col min-[768px]:flex-row">
          <img src="/imgs/artist.jpg" class="max-w-xs rounded-full shadow-4xl" />
          <div class="min-[768px]: text-lg">
            <h2 class="text-3xl font-bold text-center">Conheça a artista</h2>
            <p class="py-6 text-md text-center">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            
          </div>
        </div>
    </div>
    
</article>

<style>
</style>