---
import WppButton from '../components/WppButton.astro';
import Layout from '../layouts/Layout.astro';
import About from '../pages/About.astro';
import Home from '../pages/Home.astro';
import Footer from './Footer.astro';
import Playlist from './Playlist.astro';
import Projects from './Projects.astro';
---

<Layout title="beibibeatattoo">
	<main>
		<Home />
		<div class="flex flex-col w-full bg-black"> 
			<div class="divider m-1"></div> 
		</div>
		<About />
		<div class="flex flex-col w-full bg-black"> 
			<div class="divider m-1"></div> 
		</div>
		<Projects />
		<div class="flex flex-col w-full bg-black"> 
			<div class="divider m-1"></div> 
		</div>
		<Playlist />
		<div class="flex flex-col w-full bg-black"> 
			<div class="divider m-1"></div> 
		</div>
	</main>
	<Footer />
	<WppButton />
</Layout>

<style>

	article{
		height: 100vh;
        max-width: 100vw;
    }

</style>
