---
---

<article class="bg-base-100">
    <div class="py-10">
        <h2 class="text-center text-3xl mb-5 font-bold">Playlist da Artista</h2>
        <div class="card m-10 bg-black drop-shadow-xl">
            <ul class="flex flex-col">
                <p class="px-8 py-3 text-end text-blue font-bold text-[#2e763a]">play on <i class="fa-brands fa-spotify" style="color: #2e763a;"></i></p>
                <li class="flex p-8 py-0">
                    <div class="avatar">
                        <div class="w-16 rounded">
                            <img src="https://i.scdn.co/image/ab67616d00001e023cf4066969a3e999b884f678" alt="Rain" />
                        </div>
                    </div>
                    <div class="px-2 flex flex-col justify-center">
                        <h4 class="font-bold">Rain</h4>
                        <p>The Sweet Kill</p>
                    </div>
                </li>
                <div class="flex flex-col w-full bg-black"> 
                    <div class="divider m-2 py-2"></div> 
                </div>
                <li class="flex px-8 py-0">
                    <div class="avatar">
                        <div class="w-16 rounded">
                            <img src="https://i.scdn.co/image/ab67616d00001e023cf4066969a3e999b884f678" alt="Rain" />
                        </div>
                    </div>
                    <div class="px-2 flex flex-col justify-center">
                        <h4 class="font-bold">Rain</h4>
                        <p class="">The Sweet Kill</p>
                    </div>
                </li>
                <div class="flex flex-col w-full bg-black"> 
                    <div class="divider m-2 py-2"></div> 
                </div>
                <li class="flex px-8 py-0">
                    <div class="avatar">
                        <div class="w-16 rounded">
                            <img src="https://i.scdn.co/image/ab67616d00001e023cf4066969a3e999b884f678" alt="Rain" />
                        </div>
                    </div>
                    <div class="px-2 flex flex-col justify-center">
                        <h4 class="font-bold">Rain</h4>
                        <p class="">The Sweet Kill</p>
                    </div>
                </li>
                <div class="flex flex-col w-full bg-black"> 
                    <div class="divider m-2 py-2"></div> 
                </div>
                <li class="flex px-8 py-0">
                    <div class="avatar">
                        <div class="w-16 rounded">
                            <img src="https://i.scdn.co/image/ab67616d00001e023cf4066969a3e999b884f678" alt="Rain" />
                        </div>
                    </div>
                    <div class="px-2 flex flex-col justify-center">
                        <h4 class="font-bold">Rain</h4>
                        <p class="">The Sweet Kill</p>
                    </div>
                </li>
                <div class="flex flex-col w-full bg-black"> 
                    <div class="divider m-2 py-2"></div> 
                </div>
                <li class="flex p-8 pt-0">
                    <div class="avatar">
                        <div class="w-16 rounded">
                            <img src="https://i.scdn.co/image/ab67616d00001e023cf4066969a3e999b884f678" alt="Rain" />
                        </div>
                    </div>
                    <div class="px-2 flex flex-col justify-center">
                        <h4 class="font-bold">Rain</h4>
                        <p class="">The Sweet Kill</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>

<style>
    .card{
        color: #f2f2f2;
    }


</style>
