---

---

<article class="section flex justify-center items-center">
    <div class="height: 50%;">
        <div class="w-64 carousel rounded-box">
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/eva.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/mariposa.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/eyes.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/bird.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/suffering.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
          </div>
    </div>
</article>


<style>
</style>
