---

---

<article class="projects flex justify-center items-center bg-[var(--accent-gradient)]">
    <div class="py-10">
      <h2 class="text-center text-3xl mb-5 font-bold">Projetos</h2>
        <div class="w-80 carousel rounded-box drop-shadow-lg">
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/eva.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/mariposa.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/eyes.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/bird.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/beibibeatattoo_photos/suffering.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
            <div class="carousel-item w-full">
              <img src="./imgs/flashes.jpg" class="w-full" alt="Tailwind CSS Carousel component" />
            </div> 
          </div>
    </div>
</article>


<style>
  .projects{
    height: fit-content;
  }
</style>
