---

---
<button onclick="buttonHandler()" 
		title="Contact Sale"
        class="fixed z-90 bottom-10 right-8 bg-black w-20 h-20 rounded-full 
		flex justify-center items-center text-green-800 text-4xl ring ring-green-800 
		ring-4 drop-shadow-2xl animate-bounce duration-900">
		<i class="fa-brands fa-whatsapp"></i>
</button>

<style>
	
</style>
<script defer>
	function buttonHandler(){
		window.location.href = "https://wa.link/0eh485"
	}
</script>