---

---
<button onclick="buttonHandler()" 
		title="Contact Sale"
        class="fixed z-90 bottom-10 right-8 bg-black w-20 h-20 rounded-full 
			drop-shadow-lg flex justify-center items-center text-[#96f226] text-4xl hover:bg-green-700 
			hover:drop-shadow-2xl hover:animate-bounce duration-300">
		<i class="fa-brands fa-whatsapp"></i>
</button>

<style>
	
</style>
<script defer>
	function buttonHandler(){
		window.location.href = "https://wa.link/0eh485"
	}
</script>